@use "global" as *;


.about {
 
}
.about__inner {
    padding: 0 rem(16) 0 rem(14);
   margin: 0 auto;
   @include mq("md") {
    margin: 0 auto;
    margin-top: rem(70);
    margin-bottom: rem(134);
    padding: 0 rem(120) 0 rem(120);
    max-width: rem(1315);
  
}
}
.about__bg-img {
display: none;
  @include mq("md") {
    overflow: hidden;
    display: block;
    position: absolute;
    bottom: -13%;
    right: -10%;
    width: rem(194);
    height: auto;
    z-index: 3;
  

  }
}
.about__bg-img {
  width: 100%;
  

  @include mq("md") { 
    
  }
}


.about__section-title {
  width: rem(141);
  margin: 0 auto;
  @include mq("md") { 
    width: rem(177);
  }
}
.about__section-text  {
  font-size: rem(12);
  color: $green;
  text-align: center;
  @include mq("md") { 
    font-size: rem(12);
    line-height: rem(18);
  }
}
.space__about-head {

}
.space__about-center {
  padding-top: rem(14);
}
.space__about-foot {
  padding-top: rem(24);

  @include mq("md") { 
    padding-top: rem(41);
  }
}
.about__main {
text-align: left;

@include mq("md") { 
  position: relative;
 
  padding: 0 rem(0) 0 rem(0);
  margin: 0 auto;
}
}
.about__img1 {
max-width: rem(345);
width: 100%;
margin: 0 auto;
@include mq("md") {

    max-width: rem(1080);
    margin-left: 0;
    margin-right: 0;
  }
}
.about__group {

    @include mq("md") {
        position: absolute;
       top: rem(170);
       left: rem(194);
       display: flex;

      }
}
.about__img2 {
max-width: rem(200);
width: 100%;
margin-top: rem(43);
@include mq("md") {
  max-width: rem(400);
width: 100%;
}
}
.about__img2-1 {

  @include mq("md") {
display: none;
  }
}
.about__img2-2 {
display: none;
  @include mq("md") {
    display: block;
  }
}
.about__texts {
  @include mq("md") {
    max-width: rem(400);
  width: 100%;
  margin-top: rem(6);
  margin-left: rem(44);
  }
}
.about__text {
font-size: rem(16);
line-height: ren(24);
margin-top: rem(25);

@include mq("md") {
  max-width: rem(400);
width: 100%;
color: $white;

}
}

.c-space__about-button-head {
padding-top: rem(40);
}
.c-space__about-button-foot {
  padding-top: rem(56);
  @include mq("md") {
    padding-top: rem(86);
  }

}