@use "global" as *;






.p-button {
  position: relative;
  display: inline;
  background-color: $green;
  padding: rem(0) rem(27) rem(0) rem(17);
  font-size: rem(14);
  text-decoration: none;
  color: $black;
  border: rem(1) solid $black;
  transition: color .25s ease;
  max-width: 100%;
  width: rem(202);
  height: rem(54);
  color: $white;
  display: flex;
  border: rem(1) solid $green;
  z-index: 10;
  padding-top: rem(6);
  padding-bottom: rem(6);



    @include mq('md') {
      position: relative;
      display: inline;
      background-color: $green;
      padding: rem(0) rem(27) rem(0) rem(17);
      font-size: rem(14);
      text-decoration: none;
      color: $black;
      border: rem(1) solid $black;
      transition: color .25s ease;
      max-width: 100%;
      width: rem(202);
      height: rem(54);
      color: $white;
      display: flex;
      border: rem(1) solid $green;
      z-index: 10;
      padding-top: rem(6);
      padding-bottom: rem(6);

    }

    &:hover {
        color: $green;

      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: $white;
      transform: scaleX(0);
      transform-origin: right;
      transition: all .25s ease;
      transition-property: transform;
    }
  }
  .p-button::after {
    content: '';
    border: rem(1) solid $green;
    position: absolute;
    top: rem(6);
    right: rem(-5);
    width: 100%;
    height: 100%;
    z-index: -1;

}


.p-button__text{
    position: relative;
line-height: 2;
font-weight: 400;
margin-top: rem(3);
    margin-left: rem(20);
    @include mq('md') {
      line-height: rem(35);
      font-size: rem(14);
      margin-left: rem(0);
      letter-spacing: rem(-0.0);
      font-weight: 500;
      margin-left: rem(22);
    margin-top: rem(5);
      
    }
  }




